{% extends "projet_base.html" %}

{% block pre_content %}
	<div class="col-md-8">

		<h4>Projet: <b>{{ projet.nom_du_projet }}</b></h4>

		<br>

		<h6>Description: <b>{{ projet.description | safe }}</b> </h6>
		
	</div>	

{% endblock %}

{% block sub_content %}

	<div class="col-md-4">

		<h4>Nombre d'Agents: <b>{{ projet.agent_membres.count }}</b></h4>
		<br>
			{% for user_group in projet.agent_membres.all %}

					<ul class="list-group">
						<li class="list-group-item">
							<h5>{{ user_group.full_name }}</h5>
						</li>
					</ul>

			{% endfor %}
	</div>
{% endblock %}
