{% extends "base.html" %}

{% block content %}
  
<div class="jumbotron">
    <h1 class="display-4">Probleme sur votre serveur interne 500!</h1>
    <p class="lead">Lorsque le code HTTP 500 apparait, c'est qu'il y a une erreur interne du serveur.</p>
    <p class="lead">Si non ca peut etre une erreur du au réseau pour être sur Revener sur la page d'accueil puis verifier le projet s'il est crée!</p>
</div>
<h6>Retournez a la page d'accueil <a href="{% url 'home' %}">ici.</a></h6>
{% endblock content %}

